body {
    font-family: 'Arial', sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
}

.header h1 {
    margin: 0;
    color: #6200EA;
}

button {
    background-color: #6200EA;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    display: block;
    width: auto;
    margin: 20px auto;
}

button:hover {
    background-color: #5d00cc;
}

p, a {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

a {
    color: #6200EA;
    text-decoration: none;
}
